name: Build Podman Image

on:
  workflow_dispatch:

jobs:
  build-and-export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: Build image with Podman
        run: |
          podman build --no-cache -t marne_tonga:latest .

      - name: Save image
        run: |
          podman save -o podman-image.tar marne_tonga:latest

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: podman-image
          path: podman-image.tar
          compression-level: 0
